*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.hero{
    width: 100%;
    height: 70%;
    background-color: lightblue;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}
.hero-left{
    width: 500px;
    height: 400px;
    background-color: lightcoral;
}
.hero-right{
    width: 500px;
    height: 400px;
    background-color: lightseagreen;
}

/* @media screen and (max-width:1200px) {
    .hero{
        width: 100%;
        height: 100%;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
    }

    .hero-left{
        width:80%;
        height: 40%;
        background-color: lightcoral;
    }
    .hero-right{
        width: 80%;
        height: 40%;
        background-color: lightseagreen;
    }
} */