*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 5px rgb(200, 197, 197);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    font-size: 30px;
}
nav{
    display: flex;
    gap: 0px 35px;
}
nav a{
    font-size: 24px;
    color: black;
    text-decoration: none;
}
