*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;  /*760px*/
    background-color: black;
}
.hero{
    width: 100%;
    height: 80%;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero article{
    width: 60%;
    height:fit-content;
    background-color: #fff;
    padding: 35px;
    text-align: center;
}

.hero article h1{
    font-size: 75px;
    /* background-color: deepskyblue; */
    text-align: center;
    /* text-transform: uppercase; */
    text-decoration:2px underline red;
    text-underline-position:under ;
    /* text-underline-offset: -40px; */
    /* text-decoration:5px dashed line-through red; */
    /* text-decoration:2px underline overline red; */
    /* word-spacing: 50px; */

    /* -webkit-text-stroke: 1.5px red; */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: red;
    color: transparent;
}
.hero article p{
    font-size: 22px;
    text-align: justify;
    /* background-color: orange; */
    margin-block: 15px 25px;
    /* text-transform: capitalize; */
    /* line-height: 45px; */
    
}

.hero article a{
    background-color: black;
    padding: 10px 25px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    letter-spacing: 2.5px;
}
