*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

section{
    width: 100%;
    height: 70%;
    background-color: lightblue;
    text-align: center;
    
}

.card{
    width: 320px;
    height: 400px;
    color: white;
    display: inline-block;
    margin-top: 50px;
    font-size: 60px;
    line-height: 400px;
}

.card-1{
    background-color: purple;
    
}

.card-2{
    background-color: teal;
    /* display: none; */
    visibility: hidden;
    /* opacity: 0; */
}
.card-3{
    background-color: deeppink;
}