*,*::after,*::before{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}
nav{
    background-color: black;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    color: white;
    font-size: 35px;
    padding-inline:50px;
    padding-block: 15px;
    border-radius: 5px;
}

nav a:hover{
    text-decoration: none;
}
/* nav a:nth-child(1):hover+a{
   background-color: rgba(255,255,255,0.35);
   text-decoration: none;
}
nav a:nth-child(2):hover+a{
    background-color: rgba(255,255,255,0.35);
   text-decoration: none;
} 

nav a:first-child:hover~.last{
    background-color: rgba(255,255,255,0.35);
    text-decoration: none;
}*/
nav div{
    display: flex;
}
nav div input{
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    /* outline: none; */
}
nav button{
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    outline: none;
    background-color: rgb(12, 135, 196);
    color: white;
    font-weight: bold;
}

nav input:focus{
    caret-color: red;
    /* background-color: lightgoldenrodyellow; */
    outline: teal solid 1px;
}

.outside-div input{
    accent-color: red;
}