@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #000;
}
div{
    font-size: 150px;
    color: white;
    /* text-shadow: 425px 0px 0px green,
                 -425px 0px 0px orange,
                 0px -200px 0px orange,
                0px 200px 0px green; */

    text-shadow:-400px -200px 10px orange,
                400px 200px 15px green;
    font-family: "Dancing Script", serif;
    font-style: italic;
}

