/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@font-face {
    font-family:"chombu" ;
    src: url("./Fonts/DancingScript-Bold.ttf");
}
@font-face {
    font-family: "dinga";
    src: url("./Fonts/DancingScript-Medium.ttf");
}
@font-face {
    font-family:"simba" ;
    src: url("./Fonts/DancingScript-Regular.ttf");
}
@font-face {
    font-family: "tinku";
    src: url("./Fonts/DancingScript-SemiBold.ttf");
}

*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
section{
    width: 80%;
    height: 70%;
    background-color: lightblue;
    padding: 50px;
}

section h1{
    font-size: 55px;
    margin-bottom: 25px;
    font-style: oblique 10deg;
    /* font-family: "Poppins", serif; */
    font-family:"dinga", cursive;
    font-weight: 500;
}
section p{
    
    font-size: 25px;
}