@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

body{
    width: 100vw;
    height: 100vh;
}

.product-container{
    width: 100%;
    height: 80%;
    background-color: lightcoral;
    overflow: hidden;
}

.product-card{
    width: 350px;
    height: 430px;
    background-color: white;
    padding-inline:25px ;
    margin:80px auto;
}

.product-img{
    width: 100%;
    height: 60%;
    /* background-color: lightgreen; */
}

.product-img img{
    width:100% ;
    height: 100%;
    object-fit: contain;
}

.Product-details h2{
text-align: center;
}

.Product-details p{
    text-align: center;
    /* background-color: lightgreen; */
    padding: 10px 15px 15px;
}

.product-card button{
    width: 100%;
    padding: 10px;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: #0b57d0;
    color: white;
    border-radius: 5px;
}
