/* article>p{
    color: red;
}

article>main>p{
    color: purple;
}

article .test{
    color: orange;
} */

/* article+div+span{
    color: red;
}

article~.p1{
    color: blue;
} */


article+section>aside>p{
    color: red;
}

article+section+section>main{
    color: magenta;
}
